/* Hide the nav initially */
html {
    background-color: #F2F2F2;
}

nav {
    list-style-type: none;
    margin: 0 0 10px 0; /* top, right, bottom, left */
    padding: 10px 0; /* Adjust the padding to increase vertical size */
    background-color: #333;
    color: white;
    text-align: center;
    cursor: default;
    /* Apply hidden style by default */
    display: none;
}
nav > li {
    padding: 0;
    list-style-type: none;
    display: inline-flex; /* Use flexbox to arrange items horizontally */
    justify-content: center; /* Center align items horizontally */
    font-weight: bold;
    margin: 0 10px;
}

nav > p {
    display: inline-flex;
    margin: 0 10px;
    font-weight: bold;
}

#pages > li {
    font-family: 'Courier New', Courier, monospace;
}

/* Hover effect for list items */
nav > li:hover {
    cursor: pointer;
}

/* Show the navigation when not hidden */
nav:not(.hidden) {
    display: block;
}

#login-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#OTP-View {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.fleet-model {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
