/* Hide the nav initially */
html {
    background-color: #F2F2F2;
}

nav {
    /* Apply hidden style by default */
    display: none;
}

/* Show the navigation when not hidden */
nav:not(.hidden) {
    display: block;
}
  
.nav-container {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
  
.menu-button {
    max-width: 90vw;
    width: 100%;
    margin: auto;
    position: relative;
    height: 60px;
}
  
.menu-button li:hover{
    font-weight: bolder;
}
  
.checkbox {
    display: block;
    top: 0px;
    left: 0px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.hamburger-lines {
    top: 3px;
    left: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox, .hamburger-lines {
    position: absolute;
    height: 26px;
    width: 26px;
    margin-top: 15px;
}
  
.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
  
.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.line2 {
    transition: transform 0.2s ease-in-out;
}
  
.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.menu-items {
    position: fixed;
    height: 100vh;
    width: 400px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    opacity: 1; /* Set the desired opacity value */
    background-color: #b491cb;
    box-shadow: inset -1vw 0px 10vw 0px #5C5696;
    animation: menu-back-animation 0.5s forwards ease-in-out;
}
/*Custom animation to get the tab to slide out from the side*/
@keyframes menu-back-animation {
    from {
        left: 0px;
    }
    to {
        left: -400px;
        display: none;
    }
}

#home-view {
    margin-top: 8vh;
    font-size: 2rem;
    font-weight: 650;
}

#home-view:hover {
    font-weight: 800;
}

.menu-items > li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #0e2431;
    line-height: 75px;
}
  
.logo {
    position: absolute;
    top: 5px;
    right: 5%;
    font-size: 1.2rem;
    color: #0e2431;
    z-index: 5;
    animation: fadeIn 0.5s forwards;
}

  
.menu-button input[type="checkbox"]:checked ~ .menu-items {
    animation: menu-forwards-animation 0.5s forwards ease-in-out;
}
/*Custom animation to get the tab to slide back into the side*/
@keyframes menu-forwards-animation {
    from {
        display: flex;
        left: -400px;
    }
    to {
        left: 0px;
    }
}
  
.menu-button input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg) scaleX(1.25);
}
  
.menu-button input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.menu-button input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg) scaleX(1.25);
}

.menu-button input[type="checkbox"]:checked ~ .logo {
    animation: fadeOut 0.5s forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
/*End of nav */

#pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #725a7a;
    color: white;
    cursor: default;
    max-height: 40px;
}
#pages > li {
    list-style-type: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#pages > li:hover {
    cursor:pointer;
}
#pages > p {
    font-weight: bold;
}

body {
    font-family: "Poppins", sans-serif;
}
