/* Hide the nav initially */
nav {
    list-style-type: none;
    margin: 0;
    padding: 10px 0; /* Adjust the padding to increase vertical size */
    background-color: red;
    color: yellow;
    text-align: center;
    cursor: default;
    /* Apply hidden style by default */
    display: none;
}

/* Style for list items in the navigation */
nav > ul {
    padding: 0;
    list-style-type: none;
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: center; /* Center align items horizontally */
}

    nav > ul > li {
        margin: 0 10px; /* Add some spacing between items */
    }

        /* Hover effect for list items */
        nav > ul > li:hover {
            cursor: pointer;
        }

/* Show the navigation when not hidden */
nav:not(.hidden) {
    display: block;
}

.container {
    display: flex; /* Use flexbox layout */
  }

.vehicle-listings {
    border: 1px solid #ccc; /* Border style */
    padding: 20px; /* Padding inside the box */
    margin: 20px; /* Margin outside the box */
    background-color: #f9f9f9; /* Background color */
    width: 45%; /* Set the width of the box to 80% of the page width */
    height: auto; /* Let the height adjust automatically based on the content */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.vehicle-listings img {
    max-width: 50%; /* Set the maximum width of the image to 100% of the box's width */
    max-height: 50%; /* Set the maximum height of the image to 100% of the box's height */
    display: block; /* Make sure the image is displayed as a block element */
    margin: auto; /* Center the image horizontally */
  }